@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes ripple {
        from {
          transform: scale(0);
          opacity: 1;
        }
      
        to {
          transform: scale(1);
          opacity: 0;
        }
    }
    
    .multi-ripple {
        margin: 2rem;
    }

     .multi-ripple > div {
        position: absolute;
        width: inherit;
        height: inherit;
        border-radius: 50%;
        border: 0.3rem solid #A23DAD;
        animation: 1.5s ripple infinite;
    }

    .multi-ripple > div:nth-child(2) {
        animation-delay: 0.5s;
    }

    @keyframes glitch-anim-text {
        0% { 
            transform: translate3d(-10px,0px,0px) scale3d(-1,-1,1);
            -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
            clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
        }
        2% {
            -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
            clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
        }
        4% {
            -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
            clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
        }
        5% {
            -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
            clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
        }
        6% {
            -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
            clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        }
        7% {
            -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
            clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        }
        8% {

            -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
            clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        }
        9% {
            transform: translate3d(-10px,0px,0px) scale3d(-1,-1,1);
            -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
            clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        }
        /* 9.9% {
            -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
            clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        } */
        10%, 100% {
            transform: translate3d(0,0,0) scale3d(1,1,1);
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
        /* from {
            transform: scale(0);
            opacity: 1;
          }
        
          to {
            transform: scale(1);
            opacity: 0;
          } */
    }

    @keyframes test-anim {
        from {
            margin-left: 100%;
            width: 300%;
          }
        
          to {
            margin-left: 0%;
            width: 100%;
          }
    }

    .ripple-enter-active {
        animation: 1s glitch-anim-text;
    }

    .ripple-leave-active {
        animation: 1s glitch-anim-text reverse;
    }

    .ripple-enter-from {
        animation: 1s glitch-anim-text;
    }

    .ripple-leave-from {
        animation: 1s glitch-anim-text reverse;
    }

    .ripple-enter-to {
        animation: 1s glitch-anim-text;
    }

    .ripple-leave-to {
        animation: 1s glitch-anim-text reverse;
    }

    /* .glitch-anim-text-enter-from {
        animation: 0.9s glitch-anim-text;
    } */

    .glitch-anim-text-enter-active {
        animation: 1s glitch-anim-text;
    }

    /* .glitch-anim-text-leave-from {
        animation: 0.9s glitch-anim-text reverse;
    } */

    .glitch-anim-text-leave-active {
        animation: 1s glitch-anim-text reverse;
    }

    /* .glitch-title {
        margin: 35vh 0 0 0;
        position: relative;
        animation: 4s glitch-anim-text infinite;
        animation-delay: 0.9s;
    } */
}