@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes ripple {
        from {
          transform: scale(0);
          opacity: 1;
        }
      
        to {
          transform: scale(1);
          opacity: 0;
        }
    }
    
    .multi-ripple {
        margin: 2rem;
    }

     .multi-ripple > div {
        position: absolute;
        width: inherit;
        height: inherit;
        border-radius: 50%;
        border: 0.3rem solid #A23DAD;
        animation: 1.5s ripple infinite;
    }

    .multi-ripple > div:nth-child(2) {
        animation-delay: 0.5s;
    }
}